@charset "utf-8";
/* CSS Document */

.wrap_bgfff{background-color:#fff;}
.wrap_bgfa{background-color:#fafafa; padding-bottom:30px;}

/*当前位置*/
.current{height:45px; line-height:45px; font-size:14px; background:url(../images/ico_6.png) no-repeat left center; padding-left:30px;}
.current a{color:#656565;}
.current a:hover{color:#333;}

/*页面主体*/
.main table{padding:24px 0 50px 0;}
.main table tr{height:32px; line-height:32px;}
.main table .td1{width:134px; line-height:32px; font-size:14px; color:#656565; padding-right:15px; text-align:right;}
.main .tr1 .td2 .line1{width:100%; height:32px; line-height:32px; font-size:16px; color:#333;}
.main .tr1 .td2 .line2_L{float:left;}
.bdsharebuttonbox span{float:left; font-size:12px; margin-right:10px; line-height:16px;}
.bdsharebuttonbox a{margin:0 6px 0 0 !important;}
.main .tr1 .td2 .line2_R{float:right; font-size:12px; line-height:26px;}
.main .tr1 .td2 .line2_R .green{color:#8BBE21;}
.main .tr1 .td2 .line2_R p{float:left;}
.main .tr1 .td2 .line2_R .first{margin-right:30px;}
.main .tr1 .td2 .line2_R p a{color:#005AFF;}
.main .tr1 .td2 .line2_R .guanzhu{display:block; float:left; margin-left:10px; width:51px; height:26px; line-height:24px; text-align:center; background-color:#99C733; color:#fff; border-radius:5px; font-size:14px;}
.main .tr1 .td2 .line2_R .guanzhu b{font-size:18px;}
.main .tr2 .td2 .line1,.main .tr3 .td2 .line1{width:100%; height:32px; line-height:32px; font-size:16px; color:#333;}
.main .tr2 .td2 .line2,.main .tr3 .td2 .line2{font-size:12px; line-height:20px;}
.main .tr2 .td2 .line2 a,.main .tr3 .td2 .line2 a{color:#005AFF;}
.main .tr4 .td2 textarea{width:950px; height:212px; border:1px solid #d5d5d5; padding:10px 20px; font-size:14px; font-family:微软雅黑;}
.main .tr5 .td2 input{width:148px; height:32px; float:left; border:1px solid #d6d6d6;}
.main .tr5 .td2 .yzm{display:block; float:left; width:73px; height:32px; margin:0 10px;}
.main .tr5 .td2 .kbq{font-size:12px; color:#005AFF;}
.main .tr6 .td2 p{font-size:12px; color:#999; padding-left:25px; background:url(../images/ico_7.png) no-repeat left center;}
.main .tr7 .td2 button{width:165px; height:45px; line-height:45px; text-align:center; border:none; font-size:16px; color:#fff; border-radius:5px; background-color:#FFBF01;}








